.found-home {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  z-index: 50;
  &__link{
    position: absolute;
    top: 5vh;
    left: 3vw;
  }
  .text-404{
    p{
      border-radius: 1rem;
      border: 0.3rem solid $color-sinbad;
      padding: 1rem;
      background-color: $color_white-op3;
      span{
        &:after{
          border-bottom: 0.4rem solid $color-sinbad;
        }
      }
    }
  }
}
@media (max-width: $screen__1200) {
  .found-home {
    .text-404{
      p{
        width: 95%;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: $screen__576) {
  .found-home {
    .text-404{
      p{
        width: 95%;
        margin: 0 auto;
        border: 0.2rem solid $color-sinbad;
        padding: 0.5rem;
        span{
          &:after{
            border-bottom: 0.3rem solid $color-sinbad;
          }
        }
      }
    }
  }
}
