%nutino-size-color {
  font-family: $font_nutino;
  letter-spacing: 0.2rem;
  font-weight: 900;
  text-transform: uppercase;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

%button__circle-size {
  position: relative;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  text-align: center;
  transition: all 0.3s;
  display: block;
}

%button__circle-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  font-size: 2.6rem;
}


//Background popup
%bg-popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  right: 0;
  background-color: $color-black-op8;
  z-index: 100;
  overflow: hidden;
  transition: 0.64s ease-in-out;
  -webkit-transition: 0.64s ease-in-out;
  -moz-transition: 0.64s ease-in-out;
  -o-transition: 0.64s ease-in-out;
}

//Style popup-inner
%popup-inner {
  position: relative;
  text-align: center;
  max-width: 50rem;
  max-height: 50rem;
  width: 50%;
  height: 50%;
  background-color: $color-white;
  overflow-y: hidden;
  overflow-x: hidden;
  @media (max-width: $screen__1024) {
    width: 90%;
    height: 35%;
  }
  @media (max-width: $screen__768) {
    height: 45%;
  }
  @media (max-width: $screen__576) {
    height: 45%;
  }
}


// Align Elements
%justify-x {
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

%align-y {
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

// Transition
%transition-03 {
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

%bounceIn-1 {
  animation: bounceIn 1s;
  -o-animation: bounceIn 1s;
  -moz-animation: bounceIn 1s;
  -webkit-animation: bounceIn 1s;
}

%offer__fade-left{
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}
