//----------------  POSITION  ----------------
@mixin padding-xy($padding-y, $padding-x) {
  padding: $padding-y $padding-x;
}

@mixin padding-trbl($top, $right, $bottom, $left) {
  padding: $top $right $bottom $left;
}

@mixin position() {
  position: relative;
}

@mixin background-index($top, $right, $bottom, $left, $height, $width) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  height: $height;
  width: $width;
  //background-color: $color-bg;
  z-index: 1;
  object-fit: contain;
}


//---------------- TEXT ----------------
@mixin logo($font-size) {
  a {
    font-size: $font-size;
    font-family: $font_times;
    font-weight: bold;
    letter-spacing: -0.6rem;
    color: $color_black;

    &:hover {
      color: $color_black;
    }
  }
}

@mixin title-ticket($fs) {
  font-weight: 600;
  text-transform: uppercase;
  font-size: $fs;
}

//---------------- BUTTON ----------------
@mixin button($bg-color, $color, $border, $bg-color-hover, $color-hover, $border-hover) {
  background-color: $bg-color;
  color: $color;
  border-radius: 0;
  border: 0.1rem solid $border;
  @extend %nutino-size-color;

  &:hover {
    background-color: $bg-color-hover;
    color: $color-hover;
    border: 0.1rem solid $border-hover;
  }
}

@mixin button-padding($bg-color, $color, $border, $bg-color-hover, $color-hover, $border-hover) {
  background-color: $bg-color;
  color: $color;
  border-radius: 0;
  border: 0.1rem solid $border;
  @extend %nutino-size-color;
  padding: 1.8rem 2.8rem;
  font-size: 1.6rem;
  &:hover {
    background-color: $bg-color-hover;
    color: $color-hover;
    border: 0.1rem solid $border-hover;
  }
}

@mixin button-circle($bg-color, $color, $border-color, $bg-color-hover, $color-hover, $border-hover) {
  @extend %button__circle-size;
  border: 0.2rem solid $border-color;
  color: $color;
  background-color: $bg-color;
  &:hover {
    border: 0.2rem solid $border-hover;
    color: $color-hover;
    background-color: $bg-color-hover;
  }
  .circle__icon {
    @extend %button__circle-icon;
  }

}

@mixin button-menu($color-unactive, $color-active) {
  padding: 0.6rem 1.5rem;
  color: $color-unactive;

  &::before, &::after {
    height: 1.7rem;
    width: 1.7rem;
    position: absolute;
    content: '';
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    opacity: 0;
    //border-radius: 0.3rem;
  }

  &::before {
    left: 0;
    top: 0;
    border-left: 0.2rem solid $color_black;
    border-top: 0.2rem solid $color_black;
    -webkit-transform: translate(100%, 50%);
    transform: translate(100%, 50%);
  }

  &::after {
    right: 0;
    bottom: 0;
    border-right: 0.2rem solid $color_black;
    border-bottom: 0.2rem solid $color_black;
    -webkit-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
  }

  &:hover, &.active {
    color: $color_black;
  }
  &:hover::before, &:hover::after, &.active::before, &.active::after {
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    opacity: 1;
  }
  @media (max-width: 36em) {
    padding: 0.6rem 1rem;
    &::before, &::after {
      height: 1.3rem;
      width: 1.3rem;
    }
    &::before {
      border-left: 0.15rem solid $color_black;
      border-top: 0.15rem solid $color_black;
    }
    &::after {
      border-right: 0.15rem solid $color_black;
      border-bottom: 0.15rem solid $color_black;
    }
  }
}

@mixin tab() {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
  @media (max-width: $screen__576) {
    margin-bottom: 3rem;
  }
}

@mixin button-tab($color-under) {
  display: inline-block;
  margin: 0 5rem;
  overflow: hidden;

  button {
    padding: 0.5rem 0;
    color: $color-gray-bold;
    position: relative;
    display: inline-block;
    letter-spacing: 0.4rem;
    background-color: transparent;
    border: none;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    font-size: 1.8rem;
    font-weight: bold;

    &:before, &:after {
      position: absolute;
    }

    &:before {
      bottom: 100%;
      display: block;
      height: 0.2rem;
      width: 100%;
      content: "";
      background-color: $color-under;
    }

    &:after {
      padding: 0.5rem 0;
      bottom: 100%;
      left: 0;
      content: attr(data-hover);
      color: $color_black;
      white-space: nowrap;
    }

  }

  &:hover button, &.current button {
    transform: translateY(100%);
  }
  @media (max-width: $screen__576) {
    display: inline-block;
    margin: 0 2rem;
    overflow: hidden;
    button {
      font-size: 1.3rem;
      letter-spacing: 0.2rem;

      &:before {
        height: 0.15rem;
      }
    }
  }
}
@mixin seat($bgColor, $color, $borderColor){
  width: 5rem;
  height: 5rem;
  font-size: 2rem;
  border-radius: 0.3rem;

  background-color: $bgColor;
  color: $color;
  border: 0.1rem solid $borderColor;
  @media (max-width: $screen__576) {
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1.4rem;
  }
}

@mixin link-hover($color, $line-height) {
  display: inline-block;
  overflow: hidden;
  font-weight: bold;
  letter-spacing: 0.3rem;

  position: relative;
  color: inherit;
  line-height: $line-height;
  &:before, &:after, & > span:before, & > span:after {
    content: '';
    position: absolute;
    transition: transform .5s ease;
  }
  &:before {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $color;
    transform: translateX(-99.5%);
  }
  &:after {
    content: attr(data-content);
    left: 0;
    top: 0;
    width: 0;
    margin: 1rem 2.7rem;
    color: $color;
    white-space: nowrap;
    overflow: hidden;
    transition: width .5s ease;
    font-size: 1.4rem;
  }
  > span {
    position: relative;
    color: inherit;
    display: block;
    line-height: $line-height;
    margin: 0.2rem 0.2rem;
    padding: 0.8rem 2.5rem;
    background: $color-white;
    font-size: 1.4rem;
  }
  &:hover {
    color: $color_black;

    &:before {
      transform: translateX(0);
    }

    &:after {
      width: calc(100% - 2.8rem);
    }
  }
  @media (max-width: $screen__576) {
    letter-spacing: 0.2rem;
    &:after {
      font-size: 1.1rem;
      margin: 0.4rem 1.7rem;
    }
    > span {
      font-size: 1.1rem;
      padding: 0.2rem 1.5rem;
    }
  }
}

//Loader
@mixin loader-page($height, $bg-color) {
  width: 100%;
  height: $height;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-color;
}

//Rating movie
@mixin rating($size, $img-not-rating, $img-rating) {
  height: ($size/5);
  position: relative;
  width: $size;

  &:before { // inactive
    background-image: url($img-not-rating);
    background-repeat: repeat-x;
    background-size: ($size/5);
    bottom: 0;
    content: "";
    display: block;
    height: ($size/5);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: $size;
  }

  > span {
    display: block;
    text-indent: -1000rem;
    width: $size;
    height: ($size/5);
    position: absolute;
    overflow: hidden;

    &:before { // active
      background-image: url($img-rating);
      background-repeat: repeat-x;
      background-size: ($size/5);
      bottom: 0;
      content: "";
      display: block;
      height: ($size/5);
      left: 0;
      position: absolute;
      right: 0;
      text-indent: 1000rem;
      top: 0;
    }
  }
}

//---------------- BACKGROUND ----------------
//Bubble 404 page
@mixin bubble($color-light, $color-bold) {
  background: linear-gradient($color-light, $color-bold);
  border-radius: 50%;
  box-shadow: 0 30px 15px rgba($color_black, .15);
  position: absolute;

  &:before, &:after {
    content: '';
    background: linear-gradient($color-light, $color-bold);
    border-radius: 50%;
    box-shadow: 0 30px 15px rgba($color_black, .15);
    position: absolute;
  }

  &:nth-child(1) {
    top: 15vh;
    left: 15vw;
    height: 22vmin;
    width: 22vmin;

    &:before {
      width: 13vmin;
      height: 13vmin;
      bottom: -25vh;
      right: -10vmin;
    }
  }

  &:nth-child(2) {
    top: 15vh;
    left: 40vw;
    height: 10vmin;
    width: 10vmin;

    &:before {
      width: 5vmin;
      height: 5vmin;
      bottom: -10vh;
      left: -8vmin;
    }
  }

  &:nth-child(3) {
    top: 5vh;
    right: 30vw;
    height: 13vmin;
    width: 13vmin;

    &:before {
      width: 3vmin;
      height: 3vmin;
      bottom: -15vh;
      left: -18vmin;
      z-index: 6;
    }
  }

  &:nth-child(4) {
    top: 25vh;
    right: 18vw;
    height: 18vmin;
    width: 18vmin;

    &:before {
      width: 7vmin;
      height: 7vmin;
      bottom: -10vmin;
      left: -15vmin;
    }
  }

  &:nth-child(5) {
    top: 60vh;
    right: 18vw;
    height: 28vmin;
    width: 28vmin;

    &:before {
      width: 10vmin;
      height: 10vmin;
      bottom: 5vmin;
      left: -25vmin;
    }
  }
  &:nth-child(6) {
    top: 75vh;
    left: 10vw;
    height: 30vmin;
    width: 30vmin;

    &:after {
      width: 4vmin;
      height: 4vmin;
      top: 5vmin;
      right: -10vmin;
    }
  }
}

@mixin title-404($fs-404, $fs-description) {
  text-align: center;
  z-index: 5;

  h1 {
    font-size: $fs-404;
    margin: 0;
  }

  p {
    font-size: $fs-description;
    font-weight: 400;

    span {
      font-size: $fs-description;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 45%;
        width: 100%;
      }
    }
  }
}

//BG SQUARE FLOAT
@mixin bg-square-float() {
  position: relative;
  .circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .circles li {
    position: absolute;
    display: block;
    width: 2rem;
    height: 2rem;
    background: $color-white-op8;
    animation: float-square 25s linear infinite;
    bottom: -15rem;

  }

  .circles li:nth-child(1) {
    left: 25%;
    width: 8rem;
    height: 8rem;
    animation-delay: 0s;
  }


  .circles li:nth-child(2) {
    left: 10%;
    width: 2rem;
    height: 2rem;
    animation-delay: 2s;
    animation-duration: 12s;
  }

  .circles li:nth-child(3) {
    left: 70%;
    width: 2rem;
    height: 2rem;
    animation-delay: 4s;
  }

  .circles li:nth-child(4) {
    left: 40%;
    width: 6rem;
    height: 6rem;
    animation-delay: 0s;
    animation-duration: 18s;
  }

  .circles li:nth-child(5) {
    left: 65%;
    width: 2rem;
    height: 2rem;
    animation-delay: 0s;
  }

  .circles li:nth-child(6) {
    left: 75%;
    width: 11rem;
    height: 11rem;
    animation-delay: 3s;
  }

  .circles li:nth-child(7) {
    left: 35%;
    width: 15rem;
    height: 15rem;
    animation-delay: 7s;
  }

  .circles li:nth-child(8) {
    left: 50%;
    width: 2.5rem;
    height: 2.5rem;
    animation-delay: 15s;
    animation-duration: 45s;
  }

  .circles li:nth-child(9) {
    left: 20%;
    width: 1.5rem;
    height: 1.5rem;
    animation-delay: 2s;
    animation-duration: 35s;
  }

  .circles li:nth-child(10) {
    left: 85%;
    width: 15rem;
    height: 15rem;
    animation-delay: 0s;
    animation-duration: 11s;
  }
  .circles li:nth-child(11) {
    left: 5%;
    width: 20rem;
    height: 20rem;
    animation-delay: 3s;
    animation-duration: 15s;
  }
  .circles li:nth-child(12) {
    left: 2%;
    width: 5rem;
    height: 5rem;
    animation-delay: 8s;
    animation-duration: 15s;
  }
}
