/*---------IMPORT---------*/
@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito:400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");


/*---------FONT---------*/
$font_fira-sans: 'Fira Sans', sans-serif;
$font_poppins: 'Poppins', sans-serif;
$font_nutino: 'Nunito', sans-serif;
$font_playfair: 'Playfair', serif;
$font_times: 'Times New Roman';

/*---------COLOR---------*/
//BLACK
$color_black: #000000;
$color_black-op8: rgba(0, 0, 0, 0.8);
$color_black-op5: rgba(0, 0, 0, 0.5);
$color_black-op2: rgba(0, 0, 0, 0.2);
$color_black-op1: rgba(0, 0, 0, 0.1);
//WHITE
$color_white: #ffffff;
$color_white-op1: rgba(255, 255, 255, 0.1);
$color_white-op2: rgba(255, 255, 255, 0.2);
$color_white-op3: rgba(255, 255, 255, 0.3);
$color_white-op5: rgba(255, 255, 255, 0.5);
$color_white-op8: rgba(255, 255, 255, 0.8);
$color-menu__after: rgba(255, 255, 255, 0.98);
$color-menu__before: rgba(234, 234, 234, 0.2);

//YELLOW
$color_forget-l1: #f4efe8;
$color_forget: #fef1de;
$color_forget-op25: rgba(254, 241, 222, 0.25);
$color_forget-bold: #fde7c5;
$color_beige: #dacbb5;
$color-beige-op5: rgba(218,203,181,0.5);

//GREEN
$color-sinbad: #B4D3D3;
$color-sinbad-light: #D9E9E9;
$color-sinbad-bold: #94c0c0;
$color-sinbad-op25: rgba(180, 211, 211, 0.25);

//PINK
$color-pink-l1: #e1c3c7;
$color-pink-l2: #f5dad1;
$color_pink: #c89098;
$color_pink-b2: #af5d69;
$color_pink-b1: #b76e79;
$color_pink-b3: #bf7f89;

//GRAY
$color-gray-light: #aeaeb7;
$color-gray-bold: #696970;
$color-gray: #77777e;

$color-trans-1: rgba(198, 16, 0, 0);

//TEXT
$color_description: #1a1a1d;
$color-form__input: #b2b2b2;

  //COLOR LOADER PAGE
$color__loader-top: #343434;
$color__loader-right: darken(#272727, 15%);
$color__loader-left: darken(#272727, 5%);
$color__loader-shadow: #d8d8d8;

/*---------NUMBER---------*/
//SCREEN
$screen__400: 25em;
$screen__576: 36em;
$screen__680: 42.5em;
$screen__768: 48em;
$screen__992: 62em;
$screen__1024: 64em;
$screen__1200: 75em;
$screen_1300: 81.25em;


$main-menu__index: 20;
$menu-icon__index: 21;

//SIZE
$rating-size: 40rem;
$rating-size-576: 28rem;
$loader-main-size : 3rem;
$loader-main-duration : 2s;

/*---------IMAGES---------*/
$img__movie-not-rating: "../../Assets/Images/not-rating.svg";
$img__movie-rating: "../../Assets/Images/rating.svg";
