.back-to-top{
  position: fixed;
  bottom: 4%;
  right: 3%;
  background-color: $color-black-op5;
  color: $color_white;
  border-radius: 0.5rem;
  border: none;
  font-size: 2.8rem;
  font-weight: 600;
  z-index: 19;
  padding: 0.4rem 1.8rem;
  @extend %transition-03;
  display: none;

  &:hover {
    background-color: $color_black;
    color: $color_white;
  }
}
@media (max-width: $screen__1200) {
  .back-to-top{
    bottom: 3%;
  }
}
@media (max-width: $screen__576) {
  .back-to-top{
    font-size: 1.8rem;
    padding: 0.3rem 1.2rem;
    right: 4%;
  }
}
