.banner {
  position: relative;
  height: 90vh;
  margin: 0 3vw;

  &__detail {
    position: absolute;
    max-width: 41%;
    top: 50%;
    left: 6vw;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;

    &-text {
      &__title {
        .title {
          font-size: 5.5rem;
          color: black;
          position: relative;
          letter-spacing: 0.2rem;
          font-family: $font_poppins;
          margin-top: 5%;
          text-transform: uppercase;
          font-weight: 400;

          &:before {
            content: '';
            position: absolute;
            bottom: -5%;
            left: -7%;
            width: 12rem;
            background-color: $color_forget;
            height: 0.7rem;
          }
        }

        p {
          font-family: $font_nutino;
          margin-bottom: 0;
        }

        div.line {
          background-color: $color_black;
          width: 3.7rem;
          height: 0.09rem;
          margin-bottom: 0.2rem;
        }

        p.author {
          font-size: 1.6rem;
          letter-spacing: 0.3rem;
          font-family: $font_nutino;
          text-transform: capitalize;
          font-style: italic;
        }

        p.description {
          font-size: 2rem;
          line-height: 3.5rem;
          letter-spacing: 0.05rem;
          margin-top: 6%;
        }
      }

      &__btn {
        margin-top: 7%;

        a {
          box-shadow: 0 0.3rem 0.5rem $color_black-op1;
        }
      }
    }
  }

  &__img {
    position: absolute;
    width: 43vw;
    height: 100%;
    right: 8vw;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

//.slick-dots {
//  position: absolute;
//  bottom: 0;
//  list-style: none;
//  display: flex;
//  text-align: center;
//  padding: 0;
//  margin: 0;
//  width: 100%;
//  justify-content: center;
//
//  li {
//    position: relative;
//    display: inline-block;
//    height: 4.5px;
//    width: 56px;
//    cursor: pointer;
//
//    button {
//      border: 0;
//      background: rgba(0, 0, 0, 0.2);
//      display: block;
//      height: 4.5px;
//      width: 35px;
//      outline: none;
//      line-height: 0;
//      font-size: 0;
//      color: transparent;
//      cursor: pointer;
//
//      &:hover, &:focus {
//        outline: none;
//      }
//
//      transition: all 0.3s;
//    }
//
//    &.slick-active button {
//      background-color: black;
//    }
//  }
//}

@media (max-width: $screen__1024) {
  .banner {
    height: 65vh;

    &__detail {
      &-text {
        &__title {
          .title {
            font-size: 4.5rem;
          }

          p.description {
            line-height: 3.2rem;
          }
        }
      }
    }
  }
}
@media (max-width: $screen__992) {
  .banner {
    height: 60vh;
    margin: 0 auto;

    &__detail {
      left: 5vw;
      &-text {
        &__title {
          p.description {
            display: none;

          }
          .title{
            font-size: 3.8rem;
            margin-top: 7%;
            text-shadow: 0.1rem 0.1rem $color-white;
            letter-spacing: 0.1rem;
            &:before{
              width: 9rem;
              height: 0.5rem;
            }
          }
          p.author{
            text-shadow: 0.1rem 0.1rem $color-white;
          }
        }
        &__btn{
          margin-top: 20%;
          display: flex;
          a{
            display: flex;
            align-items: center;
            padding: 1.6rem 2rem;
            font-size: 1.5rem;
          }
        }
      }
    }

    &__img{
      width: 100vw;
      right: 0;
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
      }
    }
  }
}
@media (max-width: $screen__576) {
  .banner {

    &__detail {
      max-width: 50%;
      &-text {
        &__title {
          p.description {
            display: none;

          }
          .title{
            font-size: 2.3rem;
            &:before{
              height: 0.35rem;
              width: 6rem;
            }
          }
          div.line{
            width: 2.5rem;
            height: 0.05rem;
          }
          p.author{
            font-size: 1rem;
            letter-spacing: 0.1rem;
          }
        }
        &__btn{
          a{
            padding: 1rem 1rem;
            font-size: 1rem;
          }
        }
      }
    }
  }
}
@media (max-height: $screen__400) {
  .banner {
    height: 90vh;

    &__detail {
      left: 6vw;

      &-text {
        &__title {
          .title {
            font-size: 3.8rem;
            letter-spacing: 0.2rem;
            margin-top: 5%;

            &:before {
              width: 8rem;
              height: 0.4rem;
            }
          }

          div.line {
            background-color: $color_black;
            width: 2.5rem;
            height: 0.05rem;
            margin-bottom: 0.1rem;
          }

          p.author {
            font-size: 1.4rem;
            letter-spacing: 0.2rem;
          }
        }

        &__btn {
          margin-top: 20%;

          a {
            padding: 1.5rem 2rem;
            font-size: 1.4rem;
          }
        }
      }
    }

    &__img {
      position: absolute;
      width: 43vw;
      height: 100%;
      right: 8vw;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}


