.cinema-map {
  animation: bounceIn 1s;
  -o-animation: bounceIn 1s;
  -moz-animation: bounceIn 1s;
  -webkit-animation: bounceIn 1s;
  height: 45rem;
  position: relative;
  left: 5%;
}

@media (max-width: $screen__576) {
  .cinema-map {
    height: 30rem;
  }
}
