//Background popup
.popup-appear {
  @extend %bg-popup;
  visibility: visible;
  opacity: 1;

}
.popup-hidden {
  @extend %bg-popup;
  visibility: hidden;
  opacity: 0;
}

/*Frame of popup*/
.popup-inner-hidden {
  @extend %popup-inner;
  bottom: -100vw;
  right: -100vh;
  transform: rotate(32deg);
  -webkit-transform: rotate(32deg);
  -o-transform: rotate(32deg);
  -moz-transform: rotate(32deg);
  transition: 0.64s ease-in-out;
  -webkit-transition: 0.64s ease-in-out;
  -moz-transition: 0.64s ease-in-out;
  -o-transition: 0.64s ease-in-out;
}
.popup-inner-appear {
  @extend %popup-inner;
  bottom: 0;
  right: 0;
  transform: rotate(0);
  -webkit-transform: rotate(0);
  -o-transform: rotate(0);
  -moz-transform: rotate(0);
}


.popup__close {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  text-align: center;
  font-size: 4rem;
  border-color: transparent;
  color: $color_pink-b3;
  background-color: transparent;
  transform: rotate(0);
  -moz-transform: rotate(0);
  -webkit-transform: rotate(0);
  -o-transform: rotate(0);
  @extend %transition-03;

  &:hover {
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    color: $color-forget-bold;
  }
  //position: absolute;
  //right: 2rem;
  //top: 2rem;
  //box-shadow: 0 0.05rem 0.1rem $color-gray-light;
  //width: 4.5rem;
  //height: 4.5rem;
  //font-size: 2rem;
  //border-radius: 50%;
  //background-color: $color_black;
  //border: 0.2rem solid $color-black;
  //color: $color-white;
  //z-index: 5;
  //line-height: 4.3rem;
  //text-align: center;
  //cursor: pointer;
  //@extend %transition-03;
  //&:hover{
  //  background-color: $color-white;
  //  border: 0.2rem solid $color_black;
  //  color: $color_black;
  //}
}

.back-home{
  h3{
    font-size: 4rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 8%;
    color: $color_pink-b2;
  }
  &__text{
    font-size: 3rem;
    padding-top: 10%;
  }
  &__btn{
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
  }
}
@media (max-width: $screen__576) {
  .popup__close{
    top: -1rem;
    right: -1rem;
    width: 3rem;
    height: 3rem;
    line-height: 2.6rem;
    font-size: 1.5rem;
  }
  .popup__close{
    top: 0;
    right: 0.5rem;
    font-size: 3rem;
  }

  .back-home{
    h3{
      font-size: 3rem;
    }
    &__text{
      font-size: 2rem;
    }
    &__btn{
      position: absolute;
      left: 50%;
      bottom: 5%;
      transform: translateX(-50%);
      box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
    }
  }
}
