.footer{
  padding-bottom: 2rem;
  &__line{
    //display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem 0;
    div.intro{
      color: $color-gray;
    }
  }
  &__register{
    display: flex;
    align-items: center;
    .register_icon{
      font-size: 2.5rem;
      line-height: 2.8rem;
      margin-left: 2.5rem;
    }
  }
  &__social{
    display: flex;
    align-items: center;
    &-icon{
      font-size: 2.5rem;
      margin-left: 5rem;
      color: $color_black;
      @extend %transition-03;
      &:hover{
        color: $color-beige;
      }
    }
  }
}
@media (max-width: $screen__992) {
  .footer{
    padding-bottom: 0;
    &__line{
      margin: 1rem 0;
      div.intro{
        font-size: 1.4rem;
      }
    }
    &__register{
      .register_icon{
        font-size: 2rem;
        margin-left: 1.5rem;
      }
    }
    &__social{
      height: 4.5rem;
      &-icon{
        font-size: 2rem;
      }
    }
  }
}
@media (max-width: $screen__576) {
  .footer{
    &__line{
      div.intro{
        font-size: 1.2rem;
      }
    }
  }
}
