.form__content{
  .form-group{
    margin-bottom: 2rem;

    .form-control{
      @include padding-xy(2.5rem, 2.5rem);
      font-size: 1.8rem;
      color: $color_black;
    }
  }

  button{
    margin-top: 3.5rem;
    padding: 1.2rem 2rem;
    font-size: 1.8rem;
    text-transform: none;
  }
}

@media (max-width: $screen__576) {
  .form__content{
    .form-group{
      margin-bottom: 1.5rem;

      .form-control{
        @include padding-xy(2rem, 2rem);
        font-size: 1.6rem;
      }
    }

    button{
      margin-top: 3rem;
      padding: 0.8rem 2rem;
      font-size: 1.4rem;
    }
  }
}

