.form-header{
  &__content {
    padding-top: 2%;
  }
  &__right{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @extend %bounceIn-1;
    a{
      @include padding-xy(0.6rem, 1.8rem);
      border-radius: 0.3rem;
      text-transform: none;
      font-size: 1.6rem;
      margin-left: 1rem;
    }
  }
}
@media (max-width: $screen__1024) {
  .form-header{
    &__content {
      padding-top: 3%;
      padding-bottom: 3%;
    }
  }
}
@media (max-width: $screen__576) {
  .form-header{
    &__content {
      padding-top: 5%;
      padding-bottom: 5%;
    }
    &__right{
      p{
        font-size: 1.4rem;
      }
      a{
        @include padding-xy(0.5rem, 1.3rem);
        font-size: 1.3rem;
      }
    }
  }
}
