.form-logo {
  &__bg {
    width: 11rem;
    height: 11rem;
    margin-left: 41%;
    background-color: $color-sinbad;
    background-image: linear-gradient(19deg, $color-sinbad-light 10%, $color-sinbad-bold 90%);
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    box-shadow: 15px 15px 50px rgba(0,0,0,0.2);
    animation: morphing 10s infinite;
    position: relative;

    &:hover {
      animation-play-state: paused;
    }
  }

  &__title {
    position: absolute;
    top: 22%;
    left: 46%;
  }
}

@media (max-width: $screen__576) {
  .form-logo{
    &__bg{
      width: 9rem;
      height: 9rem;
      margin-left: 30%;
    }
  }
}
