@mixin psuedo {
  display: block;
  content: "";
}
.loader-main-route_boxes {
  display: inline-flex;
  flex-wrap: wrap;
  width: $loader-main-size * 3;
  height: $loader-main-size * 3;
  transform-style: preserve-3d;
  transform: rotateX(45deg) rotate(45deg);
  .box {
    position: absolute;
    top: 0;
    left: 0;
    width: $loader-main-size;
    height: $loader-main-size;
    background: $color__loader-top;
    box-shadow: $loader-main-size*3.75 $loader-main-size*3.75 20px $color__loader-shadow;
    animation: move-box__loader-main $loader-main-duration ease-in-out infinite both;
    transform-style: preserve-3d;

    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        animation-delay: $i/2 * -$loader-main-duration;
      }
    }

    &:before, &:after {
      @include psuedo;
      position: absolute;
      width: $loader-main-size;
      height: $loader-main-size;
    }
    &:before {
      top: 100%;
      left: 0;
      background: $color__loader-left;
      transform-origin: center top;
      transform: rotateX(-90deg);
    }
    &:after {
      top: 0;
      left: 100%;
      background: $color__loader-right;
      transform-origin: center left;
      transform: rotateY(90deg);
    }
  }
}


