// MENU ICON
.menu-icon {
  z-index: $menu-icon__index;
  cursor: pointer;

  &__line {
    height: 0.2rem;
    width: 3rem;
    display: block;
    background-color: $color_black;
    margin-bottom: 0.4rem;
    transition: transform 0.2s ease, background-color 0.5s ease;

    &-left {
      width: 1.5rem;
    }

    &-right {
      width: 1.5rem;
      float: right;
    }
  }
}

//MENU LOGO
.menu-logo {
  z-index: $menu-icon__index;
}

// MENU USER
.menu-user {
  position: relative;
  z-index: $menu-icon__index;

  &__acc {
    background-color: $color_white;
    width: 32rem;
    right: 0;
    position: absolute;
    display: none;
    height: 13rem;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.1rem $color-black-op1;

    &-name {
      font-family: $font_times;
      font-size: 3rem;
      font-weight: bold;
      font-style: italic;
      text-align: center;
      color: $color_black;
      display: block;
      margin-top: 2rem;
      line-height: 3.8rem;
    }

    .btn-black {
      padding: 1.5rem 2rem;
      font-size: 1.6rem;
      margin-top: 3rem;
    }
  }

  &__icon {
    padding-bottom: 1rem;
    padding-top: 1rem;
    cursor: pointer;

    &-size {
      font-size: 2.8rem;
    }
  }
}

@media (max-width: $screen__576) {
  .menu-icon {
    &__line {
      height: 0.2rem;
      width: 2.2rem;
      display: block;
      background-color: $color_black;
      margin-bottom: 0.2rem;
      transition: transform 0.2s ease, background-color 0.5s ease;

      &-left {
        width: 1.1rem;
      }

      &-right {
        width: 1.1rem;
        float: right;
      }
    }
  }
  .menu-user {
    &__acc {
      width: 20rem;
      height: 8.6rem;

      &-name {
        font-size: 2rem;
        margin-top: 1.2rem;
        line-height: 2.5rem;
      }

      .btn-black {
        padding: 0.9rem 1.2rem;
        font-size: 1.2rem;
        margin-top: 1.8rem;
      }
    }

    &__icon {
      padding-bottom: 1rem;
      padding-top: 1rem;

      &-size {
        font-size: 1.9rem;
      }
    }
  }
}

//  MENU MAIN
.menu-main {
  position: fixed;
  z-index: $main-menu__index;

  &:before, &:after {
    content: "";
    position: absolute;
    top: -13rem;
    width: 100vw;
    height: 120vh;
    background: $color-menu__before;
    z-index: -1;
    transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    transform: translateX(0%) translateY(-100%);
  }

  &:after {
    background: $color-menu__after;
    transition-delay: 0s;
  }

  &:before {
    transition-delay: 0.1s;
  }

  &__content {
    position: fixed;
    top: 50%;
    transform: translate(0%, -50%);
    width: 100%;
    text-align: center;
    font-weight: 200;
    visibility: hidden;
  }

  &__list-item {
    display: block;
    height: 7rem;

    a {
      position: relative;
      visibility: hidden;
      opacity: 0;
      @extend %nutino-size-color;
      font-size: 1.8rem;
    }
  }
}

@media (max-width: $screen__576) {
  .menu-main {
    &__list-item {
      height: 5.5rem;

      a {
        font-size: 1.6rem;
      }
    }
  }
  .bg_banner-img {
    display: none;
  }
}

@media (max-height: $screen__400) {
  .menu-main {
    &:before, &:after {
      height: 150vh;
    }
    &__list{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    &__list-item{
      padding: 2rem;
    }
  }
}

body {
  &.menu-main-active {
    .menu-icon__line {
      background-color: $color_black;
      transform: translateX(0) rotate(-45deg);

      &-left {
        transform: translateX(0.1rem) rotate(45deg);
      }

      &-right {
        transform: translateX(-0.2rem) rotate(45deg);
      }
    }

    .menu-main {
      visibility: visible;

      &:before, &:after {
        transform: translateX(0%) translateY(0%);
      }

      &:after {
        transition-delay: 0.1s;
      }

      &:before {
        transition-delay: 0s;
      }

      &__content {
        visibility: unset;
      }

      &__list-item {
        a {
          cursor: pointer;
          visibility: unset;
          opacity: 1;
          transform: translateX(0%);
          transition: opacity 0.3s ease, transform 0.3s ease;

          &:nth-child(0) {
            transition-delay: 0.5s;
          }

          &:nth-child(1) {
            transition-delay: 0.6s;
          }

          &:nth-child(2) {
            transition-delay: 0.7s;
          }

          &:nth-child(3) {
            transition-delay: 0.8s;
          }

          &:nth-child(4) {
            transition-delay: 0.9s;
          }

          &:nth-child(5) {
            transition-delay: 1s;
          }

          &:nth-child(6) {
            transition-delay: 1.1s;
          }
        }
      }
    }
  }
}
.bg_banner-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  -webkit-transform: translate(25em, -25em);
  -ms-transform: translate(25em, -25em);
  transform: translate(25em, -25em);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: center center;
  z-index: -1;
}
