.movie-detail {
  &__img {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    &:hover{
      img{
        box-shadow: 0.1rem 0.1rem 1rem 0 $color_black-op1;
        margin-top: 0;
        filter: contrast(108%);
      }
      .glow-wrap{
        margin-top: 0;
        .glow{
          transform: rotate(45deg) translate(450%, 0);
          transition: all .8s cubic-bezier(0.645, 0.045, 0.355, 1);
        }
      }
    }

    img {
      width: 95%;
      height: 100%;
      object-fit: cover;
      filter: contrast(105%);
      margin-top: -0.5rem;
      box-shadow: 0.5rem 1rem 2rem 0 $color_black-op1;
      display: block;
      transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    }


    .glow-wrap{
      overflow: hidden;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      margin-top: -0.5rem;
      .glow{
        display: block;
        position:absolute;
        width: 40%;
        height: 300%;
        background: $color-white-op1;
        top: 0;
        filter: blur(5rem);
        transform: rotate(45deg) translate(-450%, 0);
        transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
      }
    }
  }

  &__content {
    width: 90%;
    color: $color-description;

    .description {
      font-size: 2rem;
      line-height: 3rem;
    }

    .info {
      width: 100%;
      margin: 10% 0;

      &__line {
        height: 6rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .title {
          font-family: $font_poppins;
          letter-spacing: 0.1rem;
          font-weight: 400;
          font-size: 2.4rem;
          width: 40%;
        }

        .content {
          font-weight: $font_nutino;
          color: $color-gray-bold;
          font-size: 2.4rem;
          width: 60%;
        }
      }
    }
  }
}
@media (max-width: $screen_1300) {
  .movie-detail {
    &__content {
      .info {
        &__line {
          .title {
            width: 35%;

          }

          .content {
            width: 65%;
          }
        }
      }
    }
  }
}
@media (max-width: $screen__1200) {
  .movie-detail {
    &__content {
      .info {
        margin: 5% 0;
        &__line {
          height: 100%;
          margin-bottom: 5%;
          .title {
            width: 100%;

          }

          .content {
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: $screen__992) {
  .movie-detail {
    &__content {
      width: 100%;
      .info {
        &__line {
          .title {
            width: 30%;
          }

          .content {
            width: 70%;
          }
        }
      }
    }
  }
}

@media (max-width: $screen__680) {
  .movie-detail {
    &__content {
      .description {
        font-size: 1.6rem;
        line-height: 2.6rem;
      }

      .info {
        &__line {
          height: 100%;
          margin-bottom: 5%;
          line-height: 3.5rem;
          .title {
            width: 100%;

          }

          .content {
            width: 100%;
          }
        }
      }
    }
  }
}

#btnMovieDetail {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  width: 10rem;
  height: 10rem;
  background: radial-gradient( $color_pink-b2 10%, $color_white-op3);
  border-radius: 50%;
  border-color: transparent;
  box-shadow: 0 0 2rem 0.8rem $color_pink-b1;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-40%) translateY(-50%);
    transform: translateX(-40%) translateY(-50%);
    transform-origin: center center;
    width: 0;
    height: 0;
    border-top: 1.5rem solid transparent;
    border-bottom: 1.5rem solid transparent;
    border-left: 2.5rem solid $color_white;
    -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  &:before {
    content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate1 2s;
    animation: pulsate1 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    opacity: 1;
    border-radius: 50%;
    border: 0.3rem solid transparent;
    top: -25%;
    left: -25%;
    background: $color-trans-1;
  }
}
