.movie-list{
  @extend %bounceIn-1;
  .slick-slider{
    width: 100%;
    .slick-arrow{
      position: absolute;
      @extend %align-y;
      font-size: 2.2rem;
      transition: all 0.3s;
      &:hover{
        color: $color-sinbad;
        font-size: 2.5rem;
      }
    }
    .slick-prev{
      left: -2.5%;
    }
    .slick-next{
      right: -2.5%;
    }
  }
}
@media (max-width: $screen__1024) {
  .movie-list{
    .slick-slider{
      .slick-prev{
        left: -3.5%;
      }
      .slick-next{
        right: -3.5%;
      }
    }
  }
}
@media (max-width: $screen__768) {
  .movie-list{
    .slick-slider{
      .slick-prev{
        left: -5%;
      }
      .slick-next{
        right: -5%;
      }
    }
  }
}
@media (max-width: $screen__576) {
  .movie-list{
    .slick-slider{
      .slick-prev{
        left: -7%;
      }
      .slick-next{
        right: -7%;
      }
    }
  }
}
@media (max-width: $screen__400) {
  .movie-list{
    .slick-slider{
      .slick-prev{
        left: -11%;
      }
      .slick-next{
        right: -11%;
      }
    }
  }
}
@media (max-height: $screen__400) {
  .movie-list{
    .slick-slider{
      .slick-prev{
        left: -6%;
      }
      .slick-next{
        right: -6%;
      }
    }
  }
}
