.bg__movie-schedule{
  background-image: linear-gradient(-45deg, $color-pink-l2, $color-pink-l1, $color-forget-l1, $color_forget);
  background-size: 400% 400%;
  animation: gradientBG 12s ease-in-out infinite both alternate;
  background-attachment: fixed;
  height: 100%;
  width: 98%;
  margin: 3% 1%;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  transition: border-radius 1s ease-out;
}

.movie-schedule{
  &__date{
    margin: 2% auto 2% auto;
    background-color: $color_white-op3;
    border-radius: 0.5rem;
    padding: 1.5rem;
    width: 80%;
    button{
      position: relative;
      background-color: transparent;
      border: none;
      font-size: 2rem;
      margin-right: 5%;
    }
  }
}
@media (max-width: $screen__576) {
  .movie-schedule{
    &__date{
      padding: 1rem;
      margin-bottom: 5%;
      button{
        font-size: 1.4rem;
      }
    }
  }
}
