.movie {
  position: relative;
  overflow: hidden;
  width: 99%;
  height: 45rem;
  //margin: 5rem 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: -390%;
    background-image: linear-gradient(to right, $color-sinbad, $color-white);
    width: 300%;
    height: 100%;
    transform: skewX(45deg);
    transition: all 0.8s;
  }

  &:hover &__overlay {
    left: -90%;
  }

  &:hover &__detail, &:hover &__content{
    transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
  }

  &__detail {
    position: absolute;
    top: 3.4%;
    right: 5%;
    opacity: 0;
    transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -webkit-transform: scale(0.5);

    .italic {
      transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
  }

  &__content {
    color: $color-white;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 8%;
    opacity: 0;
    left: 0;
    transform: translateX(-50%) scale(0.5);
    -webkit-transform: translateX(-50%) scale(0.5);
    -ms-transform: translateX(-50%) scale(0.5);
    -o-transform: translateX(-50%) scale(0.5);

    h1 {
      font-family: $font_poppins;
      font-size: 3.3rem;
      text-transform: capitalize;
      margin-bottom: 1rem;
      font-weight: 400;
    }

    p {
      font-size: 1.4rem;
      font-weight: bold;
      font-family: $font_nutino;
      text-transform: uppercase;
      color: $color-gray-light;
      letter-spacing: 0.4rem;
      margin-bottom: 3rem;
    }

    &-btn {
      display: flex;
      justify-content: center;
      div{
        box-shadow: 0.2rem 0.1rem 0.3rem $color-black-op2;
      }
    }
  }

  &:hover &__detail, &:hover &__content {
    opacity: 1;
    transform: scale(1);
    transition: all 0.5s;
  }
}
@media (max-width: $screen__1200) {
  .movie{
    height: 39rem;
  }
}
@media (max-width: $screen__1024) {
  .movie{
    height: 43rem;
  }
}
@media (max-width: $screen__992) {
  .movie{
    height: 40rem;
  }
}
@media (max-width: $screen__768) {
  .movie{
    height: 47rem;
  }
}
@media (max-width: $screen__576) {
  .movie{
    height: 55rem;
  }
}
@media (max-width: $screen__400) {
  .movie{
    height: 36rem;
  }
}
