.news-offers {
  background: linear-gradient(45deg, $color_forget-op25, $color-forget);
  padding-bottom: 13%;

  &__bg-top {
    position: absolute;
    top: 0;
    width: 100%;
    height: 30vh;
  }

  &__bg-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vh;
  }

  &__title {
    position: relative;
    padding: 4% 0 2%;
    font-size: 3.5rem;
    color: black;
    font-family: $font_poppins;
    font-weight: 500;
    letter-spacing: 0.1rem;

    &:after {
      background-color: black;
      bottom: 2%;
      content: '';
      display: block;
      height: 0.2rem;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      width: 12%;
    }
  }

  &__news {
    .news-detail {
      display: flex;
      align-items: center;
      padding-top: 5%;

      &__img {
        margin-right: 2.5rem;

        img {
          width: 25rem;
          height: 25rem;
          object-fit: cover;
        }
      }

      &__text {
        @extend %transition-03;
        &:hover {
          margin-top: -10%;
        }
      }
    }
  }

  .inner-heading {
    h5 {
      font-family: $font_poppins;
      font-size: 2.2rem;
      letter-spacing: 0.1rem;
    }

    p {
      padding-top: 1.5rem;
    }
  }

  &__offers {
    padding-top: 3%;

    .offers-detail {
      display: flex;

      &__img {
        position: relative;
        width: 100%;
        height: 50vh;
        overflow: hidden;

        &-text {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          top: 0;
          left: -50%;
          width: 40%;
          height: 100%;
          opacity: 0;
          @extend %transition-03;
          background: linear-gradient(45deg, $color-sinbad-op25, $color-sinbad);
          color: $color_white;

          .offers-text {
            width: 85%;
          }
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &:hover {
        .offers-detail {
          &__img {
            &-text {
              opacity: 1;
              left: 0;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $screen__1024) {
  .news-offers {
    padding-bottom: 20%;
    &__bg-top {
      height: 15vh;
    }

    &__news {
      .news-detail {
        &__img {
          img {
            width: 20rem;
            height: 20rem;
            object-fit: cover;
          }
        }
      }
    }

    &__offers {
      .offers-detail {
        &__img {
          height: 25vh;
        }
      }
    }
  }
}

@media (max-width: $screen__992) {
  .news-offers {
    &__offers {
      .offers-detail {
        &__img {
          height: 50vh;
        }
      }
    }
  }
}

@media (max-width: $screen__768) {
  .news-offers {
    &__offers {
      padding-top: 8%;
    }
  }
}

@media (max-width: $screen__576) {
  .news-offers {
    padding-bottom: 25%;

    &__bg-bottom {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 10vh;
    }

    &__title {
      padding: 10% 0 5%;
      font-size: 2.5rem;

      &:after {
        width: 20%;
      }
    }

    &__news {
      .news-detail {
        padding-top: 10%;
        flex-wrap: wrap;

        &__img {
          width: 100%;
          height: 40vh;
          margin-right: 0;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &__text {
          &:hover {
            margin-top: 0;
          }
        }
      }
    }

    .inner-heading {
      h5 {
        font-size: 2rem;
      }

      p {
        padding-top: 1rem;
      }
    }

    &__offers {
      padding-top: 15%;

      .offers-detail {
        &__img {
          &-text {
            top: 100%;
            left: 0;
            width: 100%;
            height: 40%;
            opacity: 0;

            .offers-text {
              width: 85%;
            }
          }

          &:hover {
            .offers-detail {
              &__img {
                &-text {
                  opacity: 1;
                  top: 60%;
                }
              }
            }
          }
        }
      }
    }
  }
}
