.no-showtime{
  &__text{
    text-align: center;
    font-size: 3.5rem;
    color: $color_pink-b2;
    text-shadow: 0 0.2rem 0.4rem $color_black-op1;
  }
}

@media (max-width: $screen__576) {
  .no-showtime{
    height: 50vh;
    &__text{
      font-size: 2rem;
    }
  }
}
