.ticket-order{
  background: radial-gradient(1.5em 6.28571em at 1.95em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(1.5em 6.28571em at -0.45em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 1.5em 5.5em, radial-gradient(2.3em 4.57143em at 2.99em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(2.3em 4.57143em at -0.69em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 2.3em 4em, radial-gradient(3.5em 6.28571em at 4.55em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(3.5em 6.28571em at -1.05em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 3.5em 5.5em, radial-gradient($color-forget, $color-beige-op5);
  background-size: 1.5em 11em, 1.5em 11em, 2.3em 8em, 2.3em 8em, 3.5em 11em, 3.5em 11em, 100% 100%;
  background-repeat: repeat;
}
.order-time{
  &__ticket{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-time{
      border: 0.2rem solid $color_black;
      padding: 0.5rem 3rem;
      font-size: 2.8rem;
      border-radius: 0.5rem;
    }
  }
  &__screen{

    .screen{
      &__title{
        color: $color_white;
        font-weight: 600;
        text-align: center;
        font-size: 2.5rem;
      }
      &__line{
        width: 100%;
        height: 0.5rem;
        background-color: $color_white;
      }
    }
  }
}

@media (max-width: $screen__576) {
  .order-time{
    &__ticket{
      &-time{
        padding: 0.5rem 1rem;
        font-size: 2.2rem;
      }
    }
    &__screen{
      .screen{
        &__title{
          font-size: 2.2rem;
        }
        &__line{
          height: 0.3rem;
        }
      }
    }
  }
}
