.order-note{
  width: 90%;
  margin: 0 auto;
  &__content{
    display: flex;
    justify-content: center;
    align-items: center;
    p{
      font-family: $font_poppins;
      font-size: 2.2rem;
      color: $color_white;
      margin-left: 10%;
    }
  }
  &__notice{
    margin-top: 5%;
    padding-bottom: 5%;
    h4{
      font-weight: 600;
      font-size: 1.8rem;
    }
    p{
      margin-left: 2%;
    }
  }
}

@media (max-width: $screen__576) {
  .order-note{
    &__content{
      justify-content: left;
      padding-bottom: 2rem;
    }
  }
}
