.schedule{
  height: 50vh;
  @extend %bounceIn-1;
  &__time{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    &-btn{
      color: $color-pink-b3;
      background-color: $color_white;
      border-color: $color_white;
      box-shadow: 0 0.3rem 0.5rem $color_black-op1;
      font-family: $font_nutino;
      font-weight: 600;
      @extend %transition-03;
      @extend %bounceIn-1;

      width: 20%;
      font-size: 2.8rem;
      margin: 1rem 2rem;
      text-align: center;
      padding-top: 1rem;
      padding-bottom: 1rem;
      &:hover{
        background-color: $color-pink-b3;
        color: $color_white;
        border-color: $color-pink-b3;
      }
    }
  }
  &__date{
    font-family: $font_poppins;
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 2.5rem;
  }
}

@media (max-width: $screen__992) {
  .schedule{
    &__time{
      &-btn{
        width: 20%;
      }
    }
    &__date{
    }
  }
}

@media (max-width: $screen__576) {
  .schedule{
    &__time{
      justify-content: space-around;
      &-btn{
        width: 30%;
        font-size: 1.6rem;
        margin: 0.5rem 1rem;
      }
    }
    &__date{
      font-size: 1.6rem;
      margin-top: 1.5rem;
    }
  }
}
