.ticket-info{
  &__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__img{
    width: 100%;
    height: 50vh;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__text{
    margin: 0 auto;
    width: 100%;
  }
}
