.trailer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  display: block;

  iframe {
    position: fixed;
  }

  &__btn-close {
    position: fixed;
    top: 9%;
    right: 1%;
    text-align: center;
    font-size: 4rem;
    border-color: transparent;
    color: $color_white-op8;
    //z-index: 101;
    background-color: transparent;
    transform: rotate(0);
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
    @extend %transition-03;

    &:hover {
      transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      color: $color_white;
    }
  }
}

.trailer-hidden {
  display: none;
}

