.user {
  position: absolute;
  z-index: 400;
  width: 100vw;
  height: 100vh;
  display: block;
  top: 0;
  left: 0;
  background-color: $color_white;
  overflow-x: hidden;
}
//@media (max-width: $screen__992) {
//  .user{
//  }
//}
