.menu__sticky-down{
  animation: fadeInDown__menu;
  animation-duration: 0.5s;
  position: fixed;
  background-color: $color-menu__after;
  z-index: 100;
  box-shadow: 0 0.1rem 0.6rem $color_black-op1;
  .p-35{
    @include padding-xy(0.6rem, 5rem);
    @media (max-width: 75em) {
      @include padding-xy(0.5rem, 4rem);
    }
    @media (max-width: 62em) {
      @include padding-xy(0.4rem, 3rem);
    }
    @media (max-width: 36em) {
      @include padding-xy(0.3rem, 1.5rem);
    }
  }

}

.menu__sticky-up{
  animation: fadeOutUp__menu;
  animation-duration: 0.5s;
}
