.btn-black{
  @include button($color_black, $color_white, $color_black, $color_white, $color_black, $color_black);
}

.btn-white{
  @include button($color_white, $color_black, $color_black, $color_black, $color_white, $color_white);
}

.btn-hover{
  @include button-menu($color_black-op5, $color_black);
}

.btn-white-forget{
  @include button-padding($color_forget-bold, $color_white, $color_forget-bold, $color_white, $color_forget-bold, $color_forget-bold)
}
.btn-beige-white{
  @include button-padding($color_beige, $color_white, $color_beige, $color_white, $color_beige, $color_beige);
}
.btn-pink-white{
  @include button-padding($color_pink-b3, $color_white, $color_pink-b3, $color_white, $color_pink-b3, $color_pink-b3);
}

.btn-form-home{
  @include button($color-white, $color-black, $color-black, $color-black, $color-white, $color-black);
  @include padding-xy(0.7rem, 1.5rem);
  border-radius: 0.3rem;
  font-size: 1.6rem;
}

.btn-form-submit{
  @include button-padding($color-sinbad-bold, $color-white, $color-sinbad-bold, $color-white, $color-sinbad-bold, $color-sinbad-bold);
}

//BUTTON CIRCLE
.circle-white-sinbad{
  @include button-circle($color-white, $color-sinbad-bold, $color-white, $color-sinbad-bold, $color-white, $color-white);
}

.circle-sinbad-white{
  @include button-circle($color-sinbad-bold, $color-white, $color-sinbad-bold, $color-white, $color-sinbad-bold, $color-sinbad-bold);
}

.circle-trans-sinbad{
  @include button-circle(null, $color-black, null, $color-sinbad-op25, $color-white, null);
}

.circle-black-white{
  @include button-circle($color_black, $color-white, $color_black, $color-white, $color-gray, $color-gray);
}

.tab{
  @include button-tab($color_black);
}

.link-sinbad{
  @include link-hover($color-sinbad, 2.8rem);
}

.seat-available{
  @include seat($color_white, $color-sinbad-bold, $color_white);
}
.seat-unavailable{
  @include seat($color-sinbad-bold, $color-sinbad-bold, $color-sinbad-bold);
  cursor: not-allowed;
}
.seat-selected{
  @include seat($color-sinbad-op25, $color_white, $color-sinbad-bold);
}
