//Container menu
.container__main {
  @include padding-xy(1.2rem, 4.2rem);

  @media (max-width: 75em) {
    @include padding-xy(1.4rem, 4rem);
  }
  @media (max-width: 62em) {
    @include padding-xy(1.4rem, 3rem);
  }
  @media (max-width: 36em) {
    @include padding-xy(0.8rem, 1.5rem);
  }
  @media (max-height: $screen__400) {
    @include padding-xy(0.5rem, 1.5rem);
  }
}

//Container movie list
.container__movie-list {
  @include padding-xy(0, 5.5rem);

  @media (max-width: 75em) {
    @include padding-xy(0, 5rem);
  }
  @media (max-width: 62em) {
    @include padding-xy(0, 4.5rem);
  }
  @media (max-width: 36em) {
    @include padding-xy(0, 4rem);
  }
}

.container__py{
  @include padding-trbl(10rem, 0, 5rem, 0);

  @media (max-width: $screen__1200) {
    @include padding-trbl(8.5rem, 0, 5rem, 0);
  }
  @media (max-width: $screen__992) {
    @include padding-trbl(7rem, 0, 5rem, 0);
  }
  @media (max-width: $screen__576) {
    @include padding-trbl(5rem, 0, 3rem, 0);
  }
}

.container__detail-content{
  @include padding-trbl(6rem, 0, 0, 9rem);
  @media (max-width: 1300px) {
    @include padding-trbl(6rem, 0, 0, 7rem);
  }
  @media (max-width: $screen__1200) {
    @include padding-trbl(2rem, 0, 1.5rem, 5rem);
  }
  @media (max-width: $screen__992) {
    @include padding-trbl(4rem, 0, 1rem, 0);
  }
  @media (max-width: $screen__576) {
    @include padding-trbl(2rem, 0, 1rem, 0);
  }
}

//Padding top bottom movie schedule
.py__movie-schedule{
  @include padding-trbl(4rem, 0, 5rem, 0);

  @media (max-width: $screen__1200) {
    @include padding-trbl(3rem, 0, 5rem, 0);
  }
  @media (max-width: $screen__992) {
    @include padding-trbl(4rem, 0, 5rem, 0);
  }
  @media (max-width: $screen__576) {
    @include padding-trbl(3rem, 0, 3rem, 0);
  }
}

//Padding title book ticket
.py_title-ticket{
  @include padding-trbl(2rem, 0, 3rem, 0);
}

//Container order and ticket
.container__order-ticket{
  @include padding-xy(0, 2rem);
  @media (max-width: $screen__576) {
    @include padding-xy(0, 0);
  }
}

//Container seat list
.container__seat-list{
  @include padding-trbl(2rem, 2rem, 2rem, 2rem);
}

//Container banner
.p-05{
  @include padding-xy(0, 5rem)
}

//Container tab bar
.tab-bar{
  @include tab();
}

.bg-index{
  @include background-index(0, 0, 0, null, 50%, 40%);
  @media (max-width: 36em) {
    @include background-index(0, null, 0, 15%, 50%, 70%);
  }
}

//Container form
.container__form{
  @include padding-xy(3rem, 36%);
  @extend %bounceIn-1;

  @media (max-width: $screen_1300) {
    @include padding-xy(2.5rem, 33%);
  }

  @media (max-width: $screen__1200) {
    @include padding-xy(2rem, 30%);
  }
  @media (max-width: $screen__992) {
    @include padding-xy(1.5rem, 28%);
  }
  @media (max-width: $screen__768) {
    @include padding-xy(1.5rem, 23%);
  }
  @media (max-width: $screen__576) {
    @include padding-xy(1rem, 6%);
  }
}
