.logo-page{
  @include logo(4rem);
  @media (max-width: 36em) {
    @include logo(3rem);
  }
}

.text-404{
  @include title-404(28rem, 4rem);
  @media (max-width: $screen__576) {
    @include title-404(15rem, 2rem)
  }
}

.order-title{
  @include title-ticket(2.5rem);
  @media (max-width: $screen__576) {
    @include title-ticket(2.2rem);
  }
}
