*{
  font-size: 1.6rem;
}

html{
  font-size: 62.5%;
}

body{
  font-family: $font_nutino, $font_poppins, $font_fira-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
li{
  list-style-type: none;
}

a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

.btn:focus{
  outline: none;
  box-shadow: none;
}

button:focus {
  outline:0;
}

table, th, td{
  border: none;
  border-collapse: unset;
}

.form-control:focus{
  outline: none;
  border-color: black;
  box-shadow: none;
}
p{
  margin-bottom: 0;
}
